
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    font-family: Arial, sans-serif;
    color: rgb(26, 26, 26);
    background-color: rgb(255, 255, 255);
  }

  header {
    background-color: rgb(4, 69, 190);
    padding: 20px;
    border-color: black;
    color: rgb(255, 255, 255);
    
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  nav a:hover {
    color: rgb(230, 230, 230);
  }
  

  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  .product {
    background-color: #eeeeee;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
  }
  
  .product:hover {
    transform: translateY(-5px);
  }
  .product2 {
    background-color: #eeeeee;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
  }
  
  .product2:hover {
    transform: translateY(-5px);
  }
  
  .product h4 {
    font-size: 20px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  .product h6 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .product p {
    font-size: 16px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  .comprar{
    background-color: darkgreen;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .adicionar{
    background-color: darkgoldenrod;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product button:hover {
    background-color: darkblue;
  }
  

  footer {
    background-color: rgb(4, 69, 190);
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
    }
  
    nav li {
      margin-bottom: 10px;
    }
  }